@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
body {
	margin:0px;
	padding:0px;
	/*
	background: -webkit-linear-gradient(90deg, black, red);
	background: -moz-linear-gradient(90deg, black, red);
	background: linear-gradient(90deg, black, red);
	*/
	background-color: black;
}
.sidebar {
	display:block;
	margin-top:-85px;
	margin-left:-300px;
	background-color:rgba(60, 60, 60, 0.95);
	background-image:url("../Images/background/b1.png");
	background-repeat: repeat-y;
	position:fixed;
	height:calc(100% + 85px);
	width:300px;
	overflow-y:auto;
	z-index:1;
    transition: transform .2s linear;
    -webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.sidebar:focus {
    transform: translate(300px,0px);
}
.smbtnin, .smbtnout {
	//position:fixed;
	position: absolute;
	top:20px;
	left:20px;
	height:30px;
	width:auto;
	cursor:pointer;
	z-index:2;
}
.smbtnout {
	position:fixed;
}
.switchbtn {
	width: 25px;
	height: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size:0px;
	background-color:red;
}
.maincontent {
	margin-left:auto;
	margin-top:55px;
}
.cover {
	display: none;
}
.cover2 {
	position: fixed;
	top:0px;
	left:300px;
    display:block;
	height:100%;
	width:100%; /*calc(100% - 300px);*/
    z-index:2;
}
.navigation {
	width:100%;
	height:auto;
	margin-top: 100px;
}
.sidebtn {
	margin-top:10px;
	margin-bottom:10px;
	width: 80%;
	font-size:25px;
	background-color:transparent;
	color:rgb(1000, 0, 0);
	border:0px;
	padding:10px;
	transition: background-color 0.2s linear;
}
.sidebtn:hover {
	background-color:rgba(0, 0, 0, 0.5);
	cursor:pointer;
	border-left: 5px solid black;
	border-right: 5px solid black;
}
.projects, .websites, .how-work, .cntct   {
	width:100%;
	height:500px; /*Temporary*/
    //height:auto;
	background-size: cover;
	background-repeat: no-repeat;
  //background-attachment: fixed;
	background-position: center;
	color:white;
	overflow: hidden;
}
.projects {
	background-image: url("../Images/bk/projects.jpg");
}
.websites {
	background-image: url("../Images/bk/websites.png");
}
.how-work {
    background-image: url("../Images/bk/how-work.jpg");
    height:auto;
}
.cntct {
	//background-image: url("../Images/bk/cntct.png");
	background-color: rgb(0, 0, 0);
	height:auto;
}
.footer {
	width:100%;
	height:auto;
	color:white;
	background-color: rgba(0, 0, 0, 0.6);
	margin:0px;
	font-size:20px;
	padding-top:10px;
	padding-bottom: 10px;
	text-align:center;
	border-top: 1px solid red;
}
.home-header {
	background-color: rgba(40, 40, 40, 1);
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin:0px;
	font-size:30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    z-index:1;
    position: relative;
    z-index:2;
    width:100%;
}
.tech-links-social:visited:hover {
	color:rgb(255, 0, 0);
}
.tech-links-social, .tech-links-social:visited {
	text-decoration: underline;
	color:rgb(60, 60, 255);
}
.home-email, .home-email2 {
	width:100%;
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#load_screen {
	position: fixed;
	top:0px;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index:1000;
}
#loading {
	height: auto;
	width: 100%;
	color: white;
	font-size: 30px;
}
.web-thumb {
	position: relative;
	top:45px;
	background-color:pink;
	margin-left:calc(100% - 95%);
	margin-right:calc(100% - 95%);
    height:auto;
    margin-bottom:calc(75px + 45px);
}
.web-thumb-img {
    color: black;
    background-color: blue;
    width:100%;
}
.work-sliders {
    width:calc(100% / 5);
    height:auto;
    display:inline-block;
    background-color: rgba(250, 75, 15, .6);
    /*OR CRYSTAL BLUE*/
    margin:0px;
    padding:0px;
    float:left;
    text-align: center;
    font-size: calc(155px / 6);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    z-index:1;
    transform: translateZ(0);
    transition: transform .4s linear;
}
.slide-arrow {
    width: 100px;
    height:auto;
    display:block;
    position: relative;
    left: calc(50% - 50px);
    cursor:pointer;
    transform: translateZ(0);
    transform: rotate(0deg);
    transition: transform .4s linear;
}
.slide-img-hold {
    margin-top:20px;
    //background-color: red;
    padding-top:10px;
    padding-bottom:10px;
}
.work-logos {
    width:155px;
    height:150px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    left: calc(50% - 75.5px);
    right: calc(50% - 75.5px);
}
/*CSS CODE FOR MOBILE*/
@media screen and (max-width: 1066px) {
    
}
@media screen and (max-width: /*VALUE NEEDED*/) {
    
}
 