@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
html, body {
	margin:0px;
	padding:0px;
    font-family: Raleway;
    font-weight: 300;
	background-color:rgb(245, 245, 245);
}
a {
	text-decoration: none;
	color: blue;
}
a:visited {
	text-decoration: none;
	color:blue;
}
button {
	outline: none;
}
hr {
	display:block;
	border:0px solid transparent;
	border-top:3px solid rgba(80, 40, 35, 1);
	transition: width 300ms ease-out, opacity 200ms ease-out;
	transform: translate3d(0px, 0px, 0);
}
::selection {
	background-color:rgb(0, 0, 100);
	color:white;
}
.top {
    position: relative;
    width:100%;
    height: 100vh;
	min-height:200px;
	overflow: hidden;
}
.BKImg {
	/*background-image:url(../img/bk/water.jpg);*/
    /*background-image:url(../img/bk/water2.jpg);*/
    background-image:url(../img/bk/bench.jpg);
    /*background-image:url(../img/bk/hexwall.jpg);*/
	/*background-image:url(../img/bk/building.jpg);*/;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
	height: 100%;
	width: 100%;
	display: inline-block;
}
.top span:nth-of-type(1) {
    animation-delay: 1500ms;
}
.top span:nth-of-type(2) {
    margin-top:-30px;
    animation-delay: 1250ms;
}
.top span:nth-of-type(3) {
    margin-top:-30px;
    animation-delay: 1000ms;
}
.menuToggle {
    position:fixed;
    top: 10px;
    left: 10px;
    padding: 9px 5px 9px 5px;
    //background-color:rgba(85,40,10, 1);
    background-color: rgba(200, 200, 200, 1);
    cursor:pointer;
    transition: all 300ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
    z-index:10;
	box-shadow: 0px;
	transform: scale(0);
}
.menuToggle > .bar {
    width:30px;
    height:4px;
    display:block;
    margin: 5px 5px;
    background-color: rgba(0, 0, 100, 1);
}
.name {
	position:absolute;
    top: 25%;
    left: calc(5% - 5px);
    opacity: 0;
	transform: scale(.8);
    font-size:40px;
    font-weight: 300;
	font-family: Raleway;
    background-color: rgba(80,100,145, 0.6);
	color:white;
    width:90%;
    text-align: center;
    margin:0px;
    padding: 5px;
    box-shadow: 0px 0px 0px black;
    display: block;
	transition: all 300ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
}
.menu {
    width:300px;
    max-width:70%;
    height:100%;
    position: fixed;
    top:0px;
    left:-300px;
    background-color: rgb(245, 245, 245);
    z-index: 10;
    transition: transform 400ms ease-in-out;
	overflow-y: hidden;
}
.cover {
    display:none;
    background-color: transparent;
	transition: background-color 400ms ease-in-out;
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
    z-index: 9;
}
.menuSlider {
	width:90%;
	height: auto;
	background-color: rgb(225, 225, 225);
	margin: 10px 5% 10px 5%;
	transition: background-color 0.2s ease-out, border 0.2s ease-out;
	font-size:25px;
	font-weight: 300;
	font-family: Lato;
	border:0px;
	z-index: 1;
	padding: 15px 0px 15px 15px;
	cursor:pointer;
	text-align: left;
}
.websites {
	width:100%;
}
.gallery {
	width:55%;
	margin-left:calc(45% / 2);
	background-color:rgb(80,100,145);
	overflow: hidden;
    position: relative;
    box-shadow: -5px 5px 15px black;
}
.galleryImg {
    width: 100%;
    height: auto;
    z-index: 0;
    display: block;
    opacity: 1;
    transition: opacity 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55), transform 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
}
.galleryControls {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
    background-color: rgba(80,100,145, .7);
    color: red;
    overflow: auto;
	text-align: center;
}
.galleryButton {
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 200ms cubic-bezier(0.75,-0.20, 0.25, 1.55), transform 200ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
}
.galleryButton, .galleryLink, .photoLink, .photoButton, .contactSocialIco {
    border: 0px;
    padding: 10px;
    margin: 10px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 100, .8);
    color: white;
    border-bottom: 3px solid rgba(85,40,10, 1);
}
.gallery > button {
    z-index: 2;
    position: relative;
    top: 100%;
    width: 100%;
    height: 50px;
    display: inline-block;
    border: 0px;
    text-align: center;
    background-color: rgb(80,100,145);
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    //border-bottom: 3px solid rgba(85,40,10, 1);
}
.gallery > button > img {
    height: 100%;
    transform: rotateX(0deg);
    transition: transform 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
}
.galleryLinks, .photoLinks {
    padding: 10px;
    color: white;
    background-color: rgb(80,100,145);
    text-align: left;
}
.galleryLink, .photoLink {
    margin: 5px;
    font-family: Lato;
    font-weight: 300;
}
.projects {
	width: 100%;
}
.slideAll {
    width: 65%;
	margin-left:calc(35% / 2);
    box-shadow: 5px 5px 15px black;
}
.slideContainer {
	width:100%;
	overflow:hidden;
	height: 400px; /*must match slideContainer, projectSlide(s)*/
	background-color:rgb(225, 225, 225);
}
.projectSlides {
	transition: transform 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
	transform: translate3d(0px, 0px, 0);
    height: 400px; /*must match slideContainer, projectSlide(s)*/
}
.projectControls {
	width:100%;
	height:50px;
}
.projectControlButton {
	width:50%;
	height:100%;
	background-color:rgb(80,100,145);
	float:left;
	border:0px;
	padding: 5px 5px 5px 5px;
	cursor:pointer;
}
.projectControls > button > img {
	height:100%;
}
.projectSlide {
	width: 100%;
	height: 400px; /*must match slideContainer, projectSlide(s)*/
	overflow:hidden;
}
.projectImg, .projectDesc {
	position:relative;
	top:50px;
	margin: 0px 25px 0px 25px;
	font-size:25px;
	height:150px;
}
.projectDesc {
    height: auto;
}
.projectDescP {
	margin:0px;
	padding:0px;
	font-size:15px;
	font-family: Ubuntu;
	word-wrap: break-word;
}
.projectImg {
    transition: transform 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
    box-shadow: -5px 5px 10px black;
    border-radius: 50%;
    background-color: rgb(0, 0, 100);
}
.photography {
    width:100%;
}
.photoReel {
    width: 50%;
    margin-left: 25%;
    background-color: rgb(80,100,145);
    box-shadow: -5px 5px 15px black;
    text-align: center;
}
.photoControlButtons {
    width: calc(100% - 20px);
    overflow:auto;
	white-space: nowrap;
	padding: 0px 10px 0px 10px;
    background-color: rgb(80,100,145);
    text-align: center;
}
.photoButton, .morePhotoButton {
    border: 3px solid rgba(85,40,10, 1);
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 200ms cubic-bezier(0.75,-0.20, 0.25, 1.55), transform 200ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
    margin: 10px 5px 10px 5px;
    cursor: pointer;
}
.morePhotosButton {
    display: none;
}
.photoArrow {
    height: 50px;
    margin: 10px;
    display: block;
}
.photographyImage {
    max-width: calc(100% - 30px);
    max-height: 500px;
    margin: 15px;
    opacity: 1;
    box-shadow: 5px 5px 15px black;
    transition: opacity 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55), transform 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
    display: inline-block;
}
.about {
	width:100%;
}
.aboutMe {
	width: 70%;
	margin-left: calc(30% / 2);
	background-color: rgb(80,100,145);
	box-shadow: 5px 5px 15px black;
}
.aboutHeader, .aboutLower {
	padding: 10px;
}
.aboutSimpleImg {
	height: 100%;
	background-color: rgb(0, 0, 100);
	margin-right: 10px;
	float: left;
}
.aboutSimple {
	font-size: 35px;
	height: 150px;
	line-height: 50px; /*height divided by 3 because 'christopher even vasterling' is on 3 seperate lines*/
	background-color: rgb(225, 225, 225);
	box-shadow: -5px 5px 10px black;
}
.aboutMain {
	background-color: rgb(225, 225, 225);
	box-shadow: -5px 5px 10px black;
	height: auto;
	overflow: hidden;
	position: relative;
}
.aboutControls, .aboutDetails {
	height: 100%;
	width: 100%;
}
.aboutDetails {
	position: relative;
	top: -100%;
	min-height: 250px;
}
.aboutDetSec {
	height: 100%;
	width: 100%;
	position: relative;
	padding-bottom: 10px;
	transition: opacity 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
}
.aboutDetails > .aboutDetSec:nth-child(2) {
	display: none;
}
.aboutDetails > .aboutDetSec:nth-child(3) {
	display: none;
}
.aboutDetails > .aboutDetSec:nth-child(4) {
	display: none;
}
.aboutControls {
	float: left;
	transform: translate3d(0, 0, 0);
	transition: transform 400ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
	position: absolute;
	z-index:5;
	background-color: rgba(80,100,145, .7);
}
.aboutControlButton {
	height: 50%;
	width: 50%;
	display: block;
	position: relative;
	float: left;
	z-index: 2;
	cursor: pointer;
	overflow: hidden;
}
.aboutControlButton:hover > .aboutControlBKImg {
	transform: scale(1.3);
}
.aboutControlButton:hover > .aboutControlText {
	transform: scale(1.2);
}
.aboutControlText {
	height: 100%;
	width: 100%;
	color: white;
	background-color: rgba(80,100,145, .3);
	display: inline-block;
	position: absolute;
	font-size: 25px;
	font-family: Lato;
	transition: transform 800ms cubic-bezier(0.1, 0.8, 0.8, 1);
}
.aboutControlTextSec {
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: calc(25% / 2);
	width: calc(75% - 20px);
	display: inline-block;
	text-align: center;
	background-color: rgba(25, 25, 25, 0.6);
	padding: 10px;
}
.aboutControlBKImg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	z-index: -1;
	transition: transform 1s ease;
}
.aboutControlBKImg#aboutControlBtn1 {
	background-image: url('../img/about/me.jpg');
}
.aboutControlBKImg#aboutControlBtn2 {
	background-image: url('../img/about/school.jpg');
}
.aboutControlBKImg#aboutControlBtn3 {
	background-image: url('../img/about/career.jpg');
}
.aboutControlBKImg#aboutControlBtn4 {
	background-image: url('../img/about/contact.jpg');
}
.aboutControlBox {
	height: 50px;
	padding: 5px;
	width: calc(100% - 10px);
	text-align: right;
	/*position: absolute;*/
}
.aboutControlTog {
	height: calc(100% - 10px);
	padding: 5px;
	background-color: rgb(80,100,145);
	cursor: pointer;
	box-shadow: 2px 2px 5px black;
	z-index: 5;
	position: relative;
	transition: box-shadow 200ms cubic-bezier(0.75,-0.20, 0.25, 1.55), transform 200ms cubic-bezier(0.75,-0.20, 0.25, 1.55);
}
.contactHeader {
	margin-left: 10px;
	font-size: 25px;
}
.contactEmail, .contactSocial {
	background-color: rgb(200, 200, 200);
	font-size: 30px;
	margin: 10px;
	padding: 10px;
	box-shadow: 2px 2px 5px black;
}
.contactEmail > ul > li, .contactSocial > ul > li {
	font-size: 25px;
	list-style: none;
	padding: 0px;
}
.contactSocialIco {
	height: 50px;
	margin: 5px;
	padding: 0px;
	cursor: pointer;
}
.footer {
	background-color:rgb(225, 225, 225);
	display:block;
	width: 80%;
	margin-left:10%;
	margin-bottom: 10px;
	text-align:center;
	font-family: Raleway;
	font-weight: 300;
	padding: 15px 5px 15px 5px;
}
@media screen and (max-width: 1150px) {
	.gallery, .photoReel {
		width:65%;
		margin-left:calc(35%  / 2);
	}
}
@media screen and (max-width: 950px) {
	.gallery, .slideAll, .photoReel, .aboutMe {
		width:75%;
		margin-left:calc(25%  / 2);
	}
}
@media screen and (max-width: 850px) {
	.gallery, .slideAll, .photoReel, .aboutMe {
		width:85%;
		margin-left:calc(15%  / 2);
	}
}
@media screen and (max-width: 750px) {
	.gallery, .slideAll, .photoReel, .aboutMe {
		width:95%;
		margin-left:calc(5% / 2);
	}
    .photoReel > img {
        max-height: 300px;
    }

}
@media screen and (max-width: 400px) {
    .slideContainer, .projectSlides, .projectSlide {
        height: 350px;
    }
    .projectImg {
        height: 100px;
    }
    .projectImg, .projectDesc {
        top: 25px;
    }
    .photoReel > img {
        max-height: 250px;
    }
	.aboutSimple {
		font-size: 25px;
		height: 100px;
		line-height: calc(100px / 3);
	}
	.aboutControlText {
		font-size: 20px;
	}
	.contactEmail, .contactSocial, .contactHeader {
		font-size: 20px;
	}
	.contactEmail > ul > li, .contactSocial > ul > li {
		font-size: 15px;
	}
	.contactSocialIco {
		height: 35px;
	}
}
